<div style="float:left;border:solid 1px 000;margin:20px;"><img src="引用文件/mysql.jpg"  width="100" height="260" ></div>

MySQL 是最流行的关系型数据库管理系统，  
在WEB应用方面 MySQL 是最好的 RDBMS  
(Relational Database Management System：  
关系数据库管理系统) 应用软件之一。

# RDBMS 术语
在我们开始学习MySQL 数据库前，让我们先了解下RDBMS的一些术语：

* 数据库: 数据库是一些**关联表**的集合。  
* 数据表: 表是数据的矩阵。在一个数据库中的表看起来像一个简单的电子表格。  
* 列: 一列(数据元素) 包含了相同的数据, 例如邮政编码的数据。  
* 行：一行（=元组，或记录）是一组相关的数据，例如一条用户订阅的数据。  
* 冗余：存储两倍数据，冗余降低了性能，但提高了数据的安全性。  
* 主键：**主键是唯一的**。一个数据表中**只能包含一个主键**。你可以使用主键来查询数据。wwy：它的值用于惟一地标识表中的某一条记录。  
* 外键：外键用于关联两个表。  
* 复合键：复合键（组合键）将多个列作为一个索引键，一般用于复合索引。  
* 索引：使用索引可快速访问数据库表中的特定信息。索引是对数据库表中一列或多列的值进行排序的一种结构。类似于书籍的目录。  
* 参照完整性: 参照的完整性要求关系中不允许引用不存在的实体。与实体完整性是关系模型必须满足的完整性约束条件，目的是保证数据的一致性。

# MySQL数据库
MySQL 是一个关系型数据库管理系统，由瑞典 MySQL AB 公司开发，目前属于 Oracle 公司。MySQL 是一种关联数据库管理系统，关联数据库将数据保存在不同的表中，而不是将所有数据放在一个大仓库内，这样就增加了速度并提高了灵活性。

* MySQL 是开源的，所以你不需要支付额外的费用。
* MySQL 支持大型的数据库。可以处理拥有上千万条记录的大型数据库。
* MySQL 使用标准的SQL数据语言形式。
* MySQL 可以运行于多个系统上，并且支持多种语言。这些编程语言包括C、C++、Python、Java、Perl、PHP、Eiffel、Ruby和Tcl等。
* MySQL 对PHP有很好的支持，PHP是目前最流行的Web开发语言。
* MySQL 支持大型数据库，支持5000万条记录的数据仓库，32位系统表文件最大可支持4GB，64位系统支持最大的表文件为8TB。
* MySQL 是可以定制的，采用了GPL协议，你可以修改源码来开发自己的 MySQL 系统。

# 连接数据库

In [1]:
%load_ext sql
# %reload_ext sql

In [2]:
# %sql mysql+pymysql://tester:badpassword@mysqlserver/employees

# logs us into the mysql server at the server 'mysqlserver' as the user 'tester' and selects
# the database named 'employees'

%sql mysql+pymysql://root:wangxichen75@localhost/WWY1

/Users/wyw/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

'Connected: root@WWY1'

# 创建数据库

我们可以在登陆 MySQL 服务后，使用 ```creat``` 命令创建数据库，语法如下:  

```SQL
CREATE DATABASE 数据库名;
```

In [3]:
%%sql

DROP database IF EXISTS RUNOOB;

create DATABASE RUNOOB;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.
1 rows affected.

[]

# 显示数据库列表

In [4]:
%sql show databases;

 * mysql+pymysql://root:***@localhost/WWY1
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('RUNOOB',),
 ('sys',),
 ('WWY1',)]

# 数据库选择

In [5]:
# %sql use runoob;
%sql use wwy1;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.

[]

# MySQL 数据类型

MySQL中定义数据字段的类型对你数据库的优化是非常重要的。  

[MySQL支持多种类型，大致可以分为三类](http://www.runoob.com/mysql/mysql-data-types.html)：
>数值  
日期/时间  
字符串(字符)类型。

# 创建数据表

创建MySQL数据表需要以下信息：

* 表名
* 表字段名
* 定义每个表字段

语法

以下为创建MySQL数据表的SQL通用语法：  

CREATE &nbsp;&nbsp;TABLE &nbsp;&nbsp;\`table_name\` (&nbsp;&nbsp;&nbsp;&nbsp;\`column_name\`&nbsp;&nbsp;  column_type&nbsp;&nbsp;);




执行成功后，就可以通过命令行查看表结构：  
```SQL
desc TableName;
```
<br>
<font color=red>%%sql 的cell里不能有注释，否则运行会出错。</font>

创建 MySql 的表时，表名和字段名外面的符号 ``` 不是单引号，而是英文输入法状态下的反单引号，也就是键盘左上角 esc 按键下面的那一个按键，坑惨了。

In [6]:
%%sql 
DROP TABLE IF EXISTS abc;
CREATE TABLE IF NOT EXISTS `abc`(
    `id` INT UNSIGNED AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `continent` VARCHAR(100) NOT NULL,
    `area` INT UNSIGNED ,
    `population` INT UNSIGNED,
    `gdp` INT UNSIGNED,
    PRIMARY KEY ( `id` )
);    

desc abc;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.
0 rows affected.
6 rows affected.

[('id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(100)', 'NO', '', None, ''),
 ('continent', 'varchar(100)', 'NO', '', None, ''),
 ('area', 'int(10) unsigned', 'YES', '', None, ''),
 ('population', 'int(10) unsigned', 'YES', '', None, ''),
 ('gdp', 'int(10) unsigned', 'YES', '', None, '')]

In [7]:
%%sql 

show columns from abc;

 * mysql+pymysql://root:***@localhost/WWY1
6 rows affected.

[('id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(100)', 'NO', '', None, ''),
 ('continent', 'varchar(100)', 'NO', '', None, ''),
 ('area', 'int(10) unsigned', 'YES', '', None, ''),
 ('population', 'int(10) unsigned', 'YES', '', None, ''),
 ('gdp', 'int(10) unsigned', 'YES', '', None, '')]

# 插入数据

In [8]:
%%sql

INSERT INTO abc 
(name, continent, area, population, gdp)
VALUES
("Afghanistan", "Asia", 652230, 25500100, 20343000),
("Afghanistan", "Asia", 652230, 25500100, 20343000);

select * from abc;

 * mysql+pymysql://root:***@localhost/WWY1
2 rows affected.
2 rows affected.

[(1, 'Afghanistan', 'Asia', 652230, 25500100, 20343000),
 (2, 'Afghanistan', 'Asia', 652230, 25500100, 20343000)]

# 显示 tables 列表

In [9]:
%sql show tables;

 * mysql+pymysql://root:***@localhost/WWY1
7 rows affected.

[('abc',),
 ('orders',),
 ('point',),
 ('runoob_tbl',),
 ('salary',),
 ('test',),
 ('World',)]

In [10]:
%sql select * from abc

 * mysql+pymysql://root:***@localhost/WWY1
2 rows affected.

[(1, 'Afghanistan', 'Asia', 652230, 25500100, 20343000),
 (2, 'Afghanistan', 'Asia', 652230, 25500100, 20343000)]

# 查询数据

MySQL 数据库使用SQL SELECT语句来查询数据。  

你可以通过 mysql> 命令提示窗口中在数据库中查询数据。

语法  
以下为在MySQL数据库中查询数据通用的 SELECT 语法：  

```SQL
SELECT column_name, column_name  
FROM table_name  
WHERE Clause  
LIMIT N 
OFFSET M 
```
 
* 查询语句中你可以使用一个或者多个表，表之间使用逗号(,)分割，并使用WHERE语句来设定查询条件。  
* SELECT 命令可以读取一条或者多条记录。  
* 你可以使用星号（*）来代替其他字段，SELECT语句会返回表的所有字段数据  
* 你可以使用 WHERE 语句来包含任何条件。  
* 你可以使用 LIMIT 属性来设定返回的记录数。  
* 你可以通过OFFSET指定SELECT语句开始查询的数据偏移量。默认情况下偏移量为0。

In [11]:
%%sql
drop table if exists runoob_tbl;

CREATE TABLE IF NOT EXISTS `runoob_tbl`(
   `runoob_id` INT UNSIGNED AUTO_INCREMENT,
   `runoob_title` VARCHAR(100) NOT NULL,
   `runoob_author` VARCHAR(40) NOT NULL,
   `submission_date` DATE,
   PRIMARY KEY ( `runoob_id` )
);

INSERT INTO runoob_tbl 
(runoob_title, runoob_author, submission_date)
VALUES
("PHP", "Peter", NOW());

INSERT INTO runoob_tbl
(runoob_title, runoob_author, submission_date)
VALUES
("MySQL", "WWY", NOW());

INSERT INTO runoob_tbl
(runoob_title, runoob_author, submission_date)
VALUES
("JAVA", "RUNOOB.COM", '2016-05-06');

select * from runoob_tbl;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
3 rows affected.

/Users/wyw/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Incorrect date value: '2018-05-24 21:49:43' for column 'submission_date' at row 1")
  result = self._query(query)

[(1, 'PHP', 'Peter', datetime.date(2018, 5, 24)),
 (2, 'MySQL', 'WWY', datetime.date(2018, 5, 24)),
 (3, 'JAVA', 'RUNOOB.COM', datetime.date(2016, 5, 6))]

In [12]:
%%sql 

SELECT runoob_id, runoob_title 
FROM runoob_tbl
LIMIT 1 
OFFSET 1;

 * mysql+pymysql://root:***@localhost/WWY1
1 rows affected.

[(2, 'MySQL')]

# MySQL WHERE 子句

我们知道从 MySQL 表中使用 SQL SELECT 语句来读取数据。  
如需有条件地从表中选取数据，可将 WHERE 子句添加到 SELECT 语句中。  

语法  
以下是 SQL SELECT 语句使用 WHERE 子句从数据表中读取数据的通用语法：  

```SQL
SELECT field1, field2, ...fieldN   
FROM table_name1, table_name2...    
WHERE condition1 AND [OR] condition2..... 
```

* 查询语句中你可以使用一个或者多个表，表之间使用逗号, 分割，并使用WHERE语句来设定查询条件。
* 你可以在 WHERE 子句中指定任何条件。
* 你可以使用 AND 或者 OR 指定一个或多个条件。
* WHERE 子句也可以运用于 SQL 的 DELETE 或者 UPDATE 命令。
* WHERE 子句类似于程序语言中的 if 条件，根据 MySQL 表中的字段值来读取指定的数据。

In [13]:
%%sql
SELECT * from runoob_tbl 
WHERE runoob_author='WWY' or runoob_author='peter';

 * mysql+pymysql://root:***@localhost/WWY1
2 rows affected.

[(1, 'PHP', 'Peter', datetime.date(2018, 5, 24)),
 (2, 'MySQL', 'WWY', datetime.date(2018, 5, 24))]

MySQL 的 WHERE 子句的字符串比较是不区分大小写的。   
你可以使用 BINARY 关键字来设定 WHERE 子句的字符串比较是区分大小写的。

In [14]:
%%sql
SELECT * from runoob_tbl 
WHERE BINARY runoob_author='wwy';

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.

[]

# MySQL UPDATE
如果我们需要修改或更新 MySQL 中的数据，我们可以使用 SQL UPDATE 命令来操作。

语法  
以下是 UPDATE 命令修改 MySQL 数据表数据的通用 SQL 语法：

```SQL
UPDATE table_name SET field1=NewValue1, field2=NewValue2
[WHERE Clause]
```

In [15]:
%%sql
UPDATE runoob_tbl 
SET runoob_title='C++' 
WHERE runoob_id=3;

select * from runoob_tbl;

 * mysql+pymysql://root:***@localhost/WWY1
1 rows affected.
3 rows affected.

[(1, 'PHP', 'Peter', datetime.date(2018, 5, 24)),
 (2, 'MySQL', 'WWY', datetime.date(2018, 5, 24)),
 (3, 'C++', 'RUNOOB.COM', datetime.date(2016, 5, 6))]