In [1]:
%load_ext sql
# %reload_ext sql

In [2]:
# %sql mysql+pymysql://tester:badpassword@mysqlserver/employees

# logs us into the mysql server at the server 'mysqlserver' as the user 'tester' and selects
# the database named 'employees'

%sql mysql+pymysql://root:wangxichen75@localhost/WWY1

/Users/wyw/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

'Connected: root@WWY1'

In [3]:
%sql show databases;

 * mysql+pymysql://root:***@localhost/WWY1
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('WWY1',)]

In [4]:
%sql show tables;

 * mysql+pymysql://root:***@localhost/WWY1
7 rows affected.

[('abc',),
 ('orders',),
 ('point',),
 ('runoob_tbl',),
 ('salary',),
 ('test',),
 ('World',)]

In [5]:
%sql use WWY1;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.

[]

In [6]:
%%sql 
DROP TABLE IF EXISTS abc;
CREATE TABLE IF NOT EXISTS `abc`(
    `id` INT UNSIGNED AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `continent` VARCHAR(100) NOT NULL,
    `area` INT UNSIGNED ,
    `population` INT UNSIGNED,
    `gdp` INT UNSIGNED,
    PRIMARY KEY ( `id` )
);    

INSERT INTO abc 
(name, continent, area, population, gdp)
VALUES
("Afghanistan", "Asia", 652230, 25500100, 20343000),
("Afghanistan", "Asia", 652230, 25500100, 20343000);

select * from abc;

 * mysql+pymysql://root:***@localhost/WWY1
0 rows affected.
0 rows affected.
2 rows affected.
2 rows affected.

[(1, 'Afghanistan', 'Asia', 652230, 25500100, 20343000),
 (2, 'Afghanistan', 'Asia', 652230, 25500100, 20343000)]

In [7]:
%sql select * from abc

 * mysql+pymysql://root:***@localhost/WWY1
2 rows affected.

[(1, 'Afghanistan', 'Asia', 652230, 25500100, 20343000),
 (2, 'Afghanistan', 'Asia', 652230, 25500100, 20343000)]